# Ahmet Emre Usta
### 2200765036

## Imports and Utils

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
working_dir = "/Users/emre/GitHub/HU-AI/AIN429/Assignment 3"
DATASETS_PATH = os.path.join(working_dir, 'datasets')
RAW_DATASET_PATH = os.path.join(DATASETS_PATH, 'raw')
RAW_DATASET = os.path.join(RAW_DATASET_PATH, 'data.csv')

## Reading Dataset

In [15]:
df = pd.read_csv(RAW_DATASET)
df.head()

   Member_no        Date              item
0       1808  21-07-2015    tropical fruit
1       2552  05-01-2015        whole milk
2       2300  19-09-2015         pip fruit
3       1187  12-12-2015  other vegetables
4       3037  01-02-2015        whole milk

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38765 entries, 0 to 38764
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Member_no  38765 non-null  int64
 1   Date       38765 non-null  object
 2   item       38765 non-null  object
dtypes: int64(1), object(2)
memory usage: 908.7+ KB